@model Progno.Web.Areas.Admin.ViewModel.ProductViewModel

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script>
    function show(input) {

        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

</script>

<div class="row">
    @using (Html.BeginForm("EditProductAction", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-md-10 col-md-offset-1 ">
            <div class="panel panel-info">
                <div class="panel-heading h2">Edit Product</div>
                <div class="panel-body">
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Progno.Model.Model.Message)TempData["Message"])
                    }
                    
                    @Html.HiddenFor(model=> model.Product.Id)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.Name)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control span7", @required = "required", } })
                                        @Html.ValidationMessageFor(model => model.Product.Name, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.Description)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control span7", @rows = 3, @placeholder = "Description" } })
                                        @Html.ValidationMessageFor(model => model.Product.Description, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.Brand)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Product.Brand, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Brand Name" } })
                                        @Html.ValidationMessageFor(model => model.Product.Brand, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.CostPrice)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Product.CostPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cost Price" } })
                                        @Html.ValidationMessageFor(model => model.Product.CostPrice, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.SellingPrice)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Product.SellingPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Product.SellingPrice, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.ReOrderQty)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Product.ReOrderQty, new { htmlAttributes = new { @class = "form-control", @placeholder = "Re-Order Quantity" } })
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.ProductCategory)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.DropDownListFor(f => f.Product.ProductCategory.Id, (IEnumerable<SelectListItem>)ViewBag.ProductCategory, new { @class = "form-control " })
                                        @Html.ValidationMessageFor(model => model.Product.ProductCategory, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.LabelFor(model => model.Product.Unit)</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.DropDownListFor(f => f.Product.Unit.Id, (IEnumerable<SelectListItem>)ViewBag.Units, new { @class = "form-control " })
                                        @Html.ValidationMessageFor(model => model.Product.Unit, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>*@

                    </div>
                    <br />
                    <div class="row">
                        @if (@Model!= null && @Model.Product!=null && @Model.Product.PhotoUrl!= null)
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product Image</label>
                                    <div class="col-md-9">
                                        <div class="input-group">

                                            <input type="file" title="Upload Passport" id="file" name="file" onchange="show(this)" class="form-control" />
                                            <img id="user_img" src="@Url.Content(Model.Product.PhotoUrl)" height="100" width="100" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product Image</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="file" title="Upload Image" id="file" name="file" onchange="show(this)" class="form-control" />
                                            <img id="user_img" height="100" width="100" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>


                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Submit
                    </button>
                </div>

            </div>
        </div>
    }
</div>
